{% extends 'admin_base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid" style="margin-top: 130px; margin-bottom: 20px;">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="cat-list-title fw-semibold mb-4 text-center">PRODUCTS</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">No.</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Category</th>
                                <th scope="col" class="text-center">Image</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for  product in products %}
                            {% with variant=product.productvariant_set.all|random %}
                            <tr>
                                <th scope="row" class="text-center">{{ product.id }}</th>
                                <td class="text-center">{{ product.name }}</td>
                                <td class="text-center">{{ product.category.name }}</td>

                                <td class="text-center">
                                    <img src="{{ variant.images.first.image.url }}" alt="{{ product.name }} Image" width="80"
                                        height="70">
                                </td>
                               
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <div class="mb-2">
                                            <a href="{% url 'admin_varients' product.id %}" class="btn btn-warning btn-sm">View</a>

                                        </div>
                                        {% if category.is_active %}
                                        <div class="mb-2">
                                            <a href="" class="btn btn-danger btn-sm">DISABLE</a>
                                        </div>
                                        {% else %}
                                        <div class="mb-2">
                                            <a href="" class="btn btn-success btn-sm">ENABLE</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
