{% extends 'admin_base.html' %}
{% block body %}
{% load static %}

<style>
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .btn-inline {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<!-- Shopping Cart -->
<div class="container mt-5">
    <div class="dropdown  d-flex justify-content-end  ">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Sort by
        </button>
      
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?status=ORDERED">Ordered</a></li>
            <li><a class="dropdown-item" href="?status=SHIPPED">Shipped</a></li>
            <li><a class="dropdown-item" href="?status=DELIVERED">Delivered</a></li>
            <li><a class="dropdown-item" href="?status=RETURNED">Returned</a></li>
            <li><a class="dropdown-item" href="?status=COMPLETED">Completed</a></li>
            <li><a class="dropdown-item" href="?status=CANCELLED">Canceled</a></li>
        </ul>
      
      </div>
    <form class="bg0 p-t-75 p-b-85">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Delivery Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <th scope="row">{{ order.id }}</th>
                                    <td>{{ order.payment_status }}</td>
                                    <td>{{ order.user.username }}</td>
                                    <td>{{ order.payment_method }}</td>
                                    <td>{{ order.total_price }}</td>
                                    <td>{{ order.delivery_date }}</td>
                                    <td>
                                        <a class="btn btn-success btn-inline" href="{% url 'order_views' order.id %}" role="button">View</a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkHpTFMp4+Ee5UTiWLPzQqYi+FvVscx4KdR2C9w8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-vL3ng5Q3+4fBwBsg5k6XFu0X1fyOBiz9hUc9f/SLXMf8Q/yTHTpd03Rbeo5/7dj5" crossorigin="anonymous"></script>
{% endblock %}
