
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eCommerce Admin Panel</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom Styles */
    body {
      background-color: #f8f9fa;
    }

    .sidebar {
      background-color: #343a40;
      color: #f8f9fa;
      min-height: 100vh;
    }

    .sidebar .nav-link {
      color: #f8f9fa;
    }

    .sidebar .nav-link:hover {
      color: #ffc107;
    }

    .content {
      padding: 20px;
    }

    h1 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-home mr-2"></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customers"><i class="fas fa-list mr-2"></i>Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_catagory"><i class="fas fa-list mr-2"></i>Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add-category"><i class="fas fa-plus mr-2"></i>Add Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin-products"><i class="fas fa-cubes mr-2"></i>Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_addproduct"><i class="fas fa-plus mr-2"></i>Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_orders' %}"><i class="fas fa-plus mr-2"></i>Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 content">
        {% block body %}




        {% endblock %}
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script> <!-- Replace with your Font Awesome kit -->
</body>

</html>
