{% extends 'admin_base.html' %}
{% block body %}
{% load static %}

<div class="container">
    <h1 class="text-center mt-4">Edit Banner</h1>
    <form method="post" action="{% url 'edit_banner' b.id %}" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ b.name }}" required>
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" class="form-control-file">
        <br>
        <input class="btn btn-success" type="submit" value="Save">
    </form>
</div>

{% endblock %}
